@import 'variables';

$breakpoints: (
    xsmall: 'max-width: 500px',
    small: 'min-width: 500px',
    medium: 'min-width: 800px',
    large: 'min-width: 1024px',
    xlarge: 'min-width: 1200px',
    xxlarge: 'min-width: 1400px',
);
@mixin viewport($breakpoint) {
    $size: map-get($breakpoints, $breakpoint);
    @if($size){
        @media (#{$size}){
            @content;
        }}
    @else{ 
        @error '"#{$breakpoint}" - I cannot identify this value';
}
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $Family;
    font-size: $Font_size;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top{
    height: 10%;
    display: flex;
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid black;
    align-items: center;
    gap: 3%;
    .cartman{
        height: 100px;
        display: flex;
        margin-left: auto;
        align-items: center;
        gap: 20px;
        &__image-person{
            height: 70%;
            border: 1px solid black;
            border-radius: 50%;
        }
    }
}

.main{
    min-width: 500px;
    margin-bottom: 100px;
    display: flex;
    width:  70%;
    height: 50%;
    min-height: 600px;
    margin: 100px auto;
    .product{
        min-width: 500px;
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        &__image{
            &:hover{
                cursor: pointer;
            }
            border-radius: 15px;
            height: 100%;
            max-height: 300px;
          &--big{
                width: 100%;
                height: 80%;
                max-height:fit-content;
            }
        }
        &__grid{
            min-width: 500px;
            margin-top: 10px;
            height: 20%;
            display: flex; //jokes on you!!
            justify-content: space-between;
            width: 100%;
            align-items: center;
            }

    }
    .description{
        min-width: 500px;
        width: 60%;
        padding: 5% 10%;
        &__orange{
            color: $Orange;
        }
        &__header{
            margin-top: 1rem;
            font-size: 2* $Font_size;
        }
        &__main{
            margin-top: 2rem;
            color: $Dark_grayish_blue;
        }
        &__price{
            margin-top: 20px;
            width: 150px;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
        }
        &__pheader{
            width: 70%;
            font-size: 1.3 * $Font_size;
        }
        &__discount{
            width: 30%;
            height: 1rem;
            color: $Orange;
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }
        &__former{
            text-decoration: line-through;
            color: $Dark_grayish_blue;
        }
        &__buttons{
            margin-top: 50px;
            display: flex;
            gap: 20px;
        }
        &__button{
            &:hover{
                cursor: pointer;
            }
            border-radius: 15px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 30%;
            border: 1px solid black;
            &--orange{
                width: 60%;
                justify-content: center;
                gap: 5%;
                background-color: $Orange;
                color: $White;
            }
        }
        &__operator{
            &--invert{
                filter: brightness(300%);
            }
        }
    }
}
.magic{
    transition: all 200ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: lighten($Black, 70%);
    z-index: 1;
    opacity: 80%;
}
.backdrop{
    transition: all 200ms;
    z-index: 2;
    opacity: 100%;
    position: absolute;
    top: 30%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__container, &__set{
        width: 400px;
        opacity: 100%;
    }
    &__container{
        position: relative;
    }
    &__image{
        border-radius: 15px;
        width: 100%;
        opacity: 100%;
    }
    &__set{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    &__thumbnail{
        border-radius: 15px;
        width: 20%;
        opacity: 100%;
    }
    &__next{
        width: 50px;
        height: 50px;
        position: absolute;
        padding: 10px;
        top: calc(50% - 10px);
        left: 93%;
        background-color: $White;
        border-radius: 50%;
    }
    &__previous{
        width: 50px;
        height: 50px;
        position: absolute;
        padding: 10px;
        left: -20px;
        top: calc(50% - 10px);
        background-color: $White;
        border-radius: 50%;
    }
}
.none{
    opacity: 0;
    z-index: -1;
}
.filter{
    filter: grayscale(100%);
}